body {
    margin: 0;
    padding: 40px;
    background-color: #000;
    color: #fff;
    font-family: 'JetBrains Mono', monospace;
}

img {
    width: 400px;
    display: block;
    margin: 0 auto 30px;
    border-radius: 10px;
}

.title {
    text-align: center;
    font-size: 48px;
    margin-bottom: 30px;
}

.descricao {
    max-width: 900px;
    margin: 0 auto 20px;
    line-height: 1.7;
    color: #fff;
    text-align: justify;
}

.footer {
    text-align: center;
    margin-top: 60px;
    color: #888;
}

.footer a {
    color: #888;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.descricao a {
    color: #2c833b;
    text-decoration: underline;
}

.home {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.home-link {
    display: block;
    margin-bottom: 40px;
    color: #888;
    text-decoration: none;
    font-size: 14px;
}

.descricao-home {
    font-size: 18px;
}

.bandas {
    margin-top: 50px;
    font-size: 14px;
}

.footer-home {
    text-align: center;
    margin-top: 22%;
}

.footer-home a {
    color: #eee;
    text-decoration: none;
}

@media (max-width: 600px) {

    body {
        padding: 20px;
    }

    img {
        width: 100%;
        max-width: 400px;
        height: auto;
    }

    .title {
        font-size: 34px;
        margin-bottom: 25px;
    }

    .descricao {
        font-size: 14px;
        line-height: 1.6;
        text-align: justify;
    }

    .footer {
        font-size: 12px;
        margin-top: 40px;
    }

    .home-link {
        font-size: 13px;
        margin-bottom: 30px;
    }

    .home {
        margin-top: 50%;
    }

    .footer-home {
        text-align: center;
        margin-top: 70%;
    }

    .footer-home a {
        text-decoration: none;
    }
}